/* Variables */
:root {
  --letters-hover: #0a95dd;
  --letters: #40d3e2;  
  --backgroundGeneral: #000000;
  --backgroundSecundario: #f2f2f2;
  --shadow: #DDDDDD;
  --fuente: "Inter", sans-serif;
  --tamañoTitulo: 3rem;
  --tamañoSubtitulo: 2rem;
  --tamaño-p1: large;
  --tamaño-p2: medium;
  --tamaño-p3: small;
}

/* Estilos globales */

main {
  min-height: 79dvh;
}

html {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none; /* Estilo para ocultar la barra de scroll */
}

body {
  font-family: var(--fuente);
  margin: 0;
  height: 100%;
  min-height: 100%;
  padding-top: 80px;
  background-color: var(--backgroundGeneral);
  color: var(--letters);
}

/* Navbar */
header {
  font-family: var(--fuente);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: var(--backgroundGeneral);
  height: 80px;
}

.navbar-brand { 
  font-family: var(--fuente);
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--letters);
}

.navbar-menu {
  display: flex;
  gap: 1rem;
  background-color: var(--backgroundGeneral);
}

.navbar-item {
  color: var(--letters);
  font-family: var(--fuente);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-item img {
  max-height: 3rem;
}

a.navbar-item:hover {
  color: var(--letters-hover);
}

a.navbar-item.is-active {
  color: var(--letters);
}

/* Mostrar menú hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-menu {
        display: none; /* Ocultar menú por defecto */
        flex-direction: column; /* Colocar elementos en columna */
        position: absolute; /* Posición absoluta */
        top: 80px; /* Debajo del navbar */
        left: 0; /* Alineado a la izquierda */
        width: 100%;
        gap: 20px;
        padding: 20px;
        background-color: var(--backgroundGeneral); /* Color de fondo */
        z-index: 10; /* Asegurarse de que esté encima de otros elementos */
    }

    .navbar-brand {
      font-family: var(--fuente);
      font-weight: bold;
      letter-spacing: 2px;
      color: var(--letters);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

    .navbar-menu.is-active {
        display: flex; /* Mostrar menú cuando está activo */
    }

    .navbar-burger {
        display: flex; /* Mostrar botón hamburguesa en pantallas pequeñas */
        flex-direction: column; /* Colocar líneas en columna */
        cursor: pointer; /* Cambiar cursor al pasar sobre el botón hamburguesa */
    }

    .navbar-burger span {
        height: 2px; /* Altura de las líneas del botón */
        width: 25px; /* Ancho de las líneas del botón */
        background-color: var(--letters); /* Color de las líneas del botón */
        margin-bottom: 4px; /* Espaciado entre las líneas */
    }
}

/* Estilos para el modal del carrito */
.modal-carrito {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija en la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
}

.modal-carrito.is-active {
    display: flex; /* Mostrar cuando está activo */
}

.modal-background-carrito {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.modal-content-carrito {
  background-color: black; 
  padding: 2rem; 
  border-radius: 8px;
  border: 2px solid #00BFFF; 
  color: white; 
}

.modal-close-carrito {
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón de cerrar */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  color: #00BFFF; /* Color del texto, puedes ajustarlo */
  font-size: 16px; /* Tamaño del texto */
}


/* Footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--backgroundGeneral);
  padding: 10px 0;
}

.footer-container {
  height: 80px;
  padding: 10px 0;
  margin-top: 1rem;
}

.footer-text-container {
  width: 75%;
  padding-left: 12.5%;
  text-align: center;
  color: var(--letters);
}

.footer-text {
  font-size: small;
  font-weight: bold;
}

.footer-image {
  width: 100%;
  max-width: 150px;
}

.footer-image-container {
  text-align: center;
  width: 32%;
  padding: 0 5%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.custom-row-1 {
  justify-content: center;
  padding-left: 12.5%;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main */

/* Index */

/* Video de fondo limitado a la sección */

.video-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  padding: 1rem;

}

.title-and-button {
  display: flex;
  width: 90%;
  padding-bottom: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem;
}

.titulo {
  font-size: 7rem;
  font-weight: 700;
  text-align: left;
  padding-right: 10rem;
  color:var(--letters);
}

.boton button {
  background-color: #40D3E2;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: underline; 
  transition: background-color 0.3s, color 0.3s;
}

.boton button:hover {
  background-color: black; 
  color: white; 
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6); 
}

.text-overlay {
  position: relative;
  z-index: 1;
  color: #00d1b2; /* Color del texto */
}

.text-overlay h1 {
  font-size: 3rem;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0.5em 0;
}

.text-overlay p {
  font-size: 1.2rem;
}

.text-overlay .button {
  margin-top: 20px;
}

.empresas {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.empresas-texto {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin-bottom: 0.3rem;
  text-align: center;
  width: 100%;
}

.empresas img {
  width: 100px; /* Tamaño de los logos */
  opacity: 0.7;
}
/* Sección de testimonios */

/* Sección de testimonios */
.testimonios {
  padding: 55px 5%;
  background-color: var(--backgroundGeneral);
  color: white;
}

.testimonios h2 {
  font-size: 2.5rem;
  color: white;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.testimonios h2::after {
  content: '';
  display: block;
  width: 50%; /* Ancho de la línea azul */
  height: 3px;
  background-color: #40D3E2; /* Color azul */
  position: absolute;
  bottom: -10px; /* Ajusta para que quede más abajo del título */
  left: 0;
}

.testimonios p {
  text-align: left;
  position: relative;
}


.testimonios p::before,
.testimonios p::after {
  font-size: 2rem;
  color: white;
  position: absolute;
}

.testimonios p::before {
  left: -25px;
  top: -10px;
}

.testimonios p::after {
  right: -25px;
  bottom: -10px;
}

.experiencia-tarjetas {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.tarjeta {
  background-color: #282828;
  padding: 20px;
  border-radius: 8px;
  max-width: 250px;
  color: #eaeaea;
  border: 2px solid #40D3E2;
  text-align: left;
}

.info-persona {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.foto-persona {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  flex-shrink: 0;
}

.nombre-fecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nombre-fecha h3 {
  font-size: 1.2rem;
  margin: 0;
}

.nombre-fecha h4 {
  font-size: 0.9rem;
  color: #b0b0b0;
  margin: 0;
}

.logo-linkedin {
  margin-top: 10px;
  display: block;
}

.tarjeta p {
  font-size: 1rem;
  line-height: 1.4;
  color: #eaeaea;
}


/* Cursos */

.titulo-cursos {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.slider-container {
  width: 80%;
  overflow-x: auto;
  display: flex;
  padding: 20px 0;
  margin-left: 10%;
  scrollbar-width: thin;
  scrollbar-color: #666 #000;
  box-sizing: content-box; /* Asegura que el padding no afecte el tamaño del contenedor */
}

.slider-container::-webkit-scrollbar {
  height: 8px;
}

.slider-container::-webkit-scrollbar-track {
  background: #000;
}

.slider-container::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

.slide-item {
  flex: 0 0 auto;
  width: 300px;
  height: 550px;
  margin-right: 15px;
  background-color: #000;
  border: 2px solid #00e0ff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Sección de Descuento */
.slide-item .discount-section {

  padding: 10px;
  background-color: #00e0ff;
  color: #000;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

.slide-item .discount-section .discount {
  background-color: #000;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
}

/* Sección de Título y Descripción */
.slide-item .title-description {
  padding: 20px;
  text-align: center;
  
  
}

.slide-item .title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.slide-item .description {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 15px;
}

/* Sección de Precios, Cuotas y Duración */
.slide-item .pricing {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #00e0ff;
}

.slide-item .price {
  font-size: 16px;
  color: #fff;
}

.slide-item .price .original-price {
  text-decoration: line-through;
  color: #aaa;
}

.slide-item .installments {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

.slide-item .duration {
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
}

/* Sección de Nivel de Dificultad */
.slide-item .footer {
  border-top: 1px solid #00e0ff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-item .footer .difficulty {
  background-color: #000;
  color: #00e0ff;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s;
}

.modal.is-active {
  display: flex;
}

.modal-content {
  background-color: var(--backgroundGeneral);
  margin: 10% auto; /* Ajustamos los márgenes a un 10% */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 80%; /* Aseguramos que no se agrande más allá del 80% */
  max-height: 80vh; /* Evita que el modal ocupe más del 80% de la altura de la ventana */
  overflow-y: auto; /* Activa el scroll vertical cuando el contenido exceda el alto del modal */
  animation: scaleIn 0.3s;
}

/* Sección de título y descuento */
.modal-header {
  background-color: var(--backgroundGeneral);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--letters);
}

.modal-header h2 {
  margin: 0;
  font-size: 24px;
}

.modal-header .discount {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #000;
  border-radius: 5px;
  color: var(--letters);
}


/* Contenido central del modal */
.modal-body {
  padding: 20px;
  background-color: var(--backgroundGeneral);
  color: #fff;
}

.modal-body p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5; /* Mejor legibilidad */
}

/* Sección de precio y botón de reserva */
.modal-footer {
  background-color: var(--backgroundGeneral);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.modal-footer .price {
  font-size: 18px;
}

.modal-footer .original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.modal-footer .modal-button {
  background-color: var(--letters);
  color: var(--backgroundGeneral);
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

.modal-footer .modal-button:hover {
  background-color: #333;
}



/* Estilo para el botón de cierre */
.close {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Contacto */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
}

.left-content {
  color: #fff;
  max-width: 500px;
  padding: 20px;
  flex: 1; /* Permite que el contenido ocupe espacio flexible */
}

.left-content h1 {
  font-size: 36px;
}

.left-content h1 span,
.left-content .highlight {
  color: #00aaff;
  font-weight: bold;
}

.accreditation {
  margin-top: 20px;
}

.accreditation img {
  width: 200px;
  margin-top: 10px;
}

.form-section {
  background-color: var(--backgroundSecundario);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  color: #000;
}

.form-section h2 {
  color: #00aaff;
  font-size: 18px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label {
  font-size: 14px;
  text-align: left;
}

form input, form textarea {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input, form textarea, form button {
    transition: all .3s ease; /* Transición suave para todos los elementos de formulario */
}

form input:hover, form textarea:hover {
    border-color: #00aaff; /* Cambia el color del borde al pasar el mouse */
    box-shadow: inset 0px 0px 5px rgba(0,170,255,0.5); /* Efecto de sombra */
}

form button {
    background-color: #00aaff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0088cc; /* Cambia el color al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.banner {
  overflow: hidden; /* Oculta el contenido que sale del contenedor */
  position: relative; /* Necesario para la animación */
  background-color: #00aaff;
  text-align: center;
  height: 40px;
}

.promo {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  font-size: 20px; /* Tamaño de fuente más pequeño */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  position: absolute; /* Permite mover el texto fuera del contenedor */
  animation: slide-left 18s linear infinite; /* Añade la animación de deslizamiento */
}



/* Reservas */

.container-reservas {
  display: block;
  min-height: 94vh;
  height: auto;
  padding: 40px;
  background-color: var(--backgroundSecundario);
  color: var(--backgroundGeneral);
}

.grid-container {
  display: grid;
  background-color: var(--backgroundSecundario);
  grid-template-areas:
    'reserva reserva reserva reserva pago pago'
    'reserva reserva reserva reserva pago pago'
    'reserva reserva reserva reserva pago pago';
  min-height: 100%;
}

.reserva {
  grid-area: reserva;
  grid-column: 1 / span 4;
  margin-right: 40px;
  margin-bottom: 40px;
}

.pago {
  grid-area: pago;
  grid-column: 5 / span 2;
  width: 100%;
}

.border-containers {
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: #888;
}

.balance-f {
  display: flex;
  position: relative;
  bottom: 0;
  padding-bottom: 40px;
  width: 100%;
}

.balance-f p{
  width: auto;
  margin-right: auto;
}

.calendar-container{
  width: 300px;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto-profesor {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.contenedor-pago {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 85%;
  margin: 50px 0;
  max-width: 400px;
}

/* Título del formulario */
.contenedor-pago h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de las etiquetas y campos */
.contenedor-pago label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
}

.contenedor-pago input, .contenedor-pago select, .contenedor-pago button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contenedor-pago input[type="text"], .contenedor-pago input[type="month"] {
  font-size: 16px;
}

.contenedor-pago select {
  font-size: 16px;
}

.contenedor-datos {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 85%;
  margin: 50px 0;
  max-width: 400px;
}

/* Títulos */
.contenedor-datos h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo de los labels y inputs */
.contenedor-datos label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.contenedor-datos input[type="text"], .contenedor-datos input[type="email"], .contenedor-datos input[type="tel"], .contenedor-datos select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Contenedor para el teléfono */
.contenedor-datos .telefono-container {
  display: flex;
  align-items: center;
}

.contenedor-datos .telefono-container select {
  width: 25%;
  margin-right: 10px;
}

.contenedor-datos .telefono-container input[type="tel"] {
  width: 70%;
}

/* Contenedor para el documento */
.contenedor-datos .tipoDoc-container {
  display: flex;
  align-items: center;
}

.contenedor-datos .tipoDoc-container select {
  width: 25%;
  margin-right: 10px;
}

.contenedor-datos .tipoDoc-container input[type="text"] {
  width: 70%;
}

/* Botón de envío */
.balance-f button {
  width: 30%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.balance-f button:hover {
  background-color: #45a049;
}

@media (max-width: 1600px){
  .titulo {
    font-size: 5rem;
    font-weight: 700;
    text-align: left;
    padding-right: 10rem;
    color: var(--letters);
}

.boton button {
  background-color: #40D3E2;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  text-decoration: underline;
  transition: background-color 0.3s, color 0.3s;
}

}

@media (max-width: 480px) {
  .titulo {
    font-size: 2rem;
    line-height: 1.2;
  }

  .boton button {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }

  .empresas-texto {
    font-size: 0.9rem;
  }

  .empresas img {
    width: 60px;
  }
}

@media only screen and (max-width: 769px) {
  .grid-container {
    grid-template-areas:
      'reserva reserva reserva reserva reserva reserva'
      'reserva reserva reserva reserva reserva reserva'
      'pago pago pago pago pago pago';
  }
  .reserva {
    grid-area: reserva;
    margin-right: 0px;
    grid-column: 1 / span 6;
  }
  .pago {
    grid-area: pago;
    grid-column: 1 / span 6;
    width: 100%;
  }
  .balance-f {
    position: relative;
    bottom: 0;
    padding-bottom: 40px;
    width: 100%;
  }
  .border-containers {
    border-style: none;
  }
  .titulo {
    font-size: 2.5rem;
    text-align: center;
    padding-right: 0;
  }

  .title-and-button {
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    gap: 50px;
  }

  .boton button {
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
  }

  .empresas-texto {
    font-size: 1rem;
  }

  .empresas img {
    width: 80px;
  }

  .main-content {
    flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
    padding: 20px; /* Reduce el padding en pantallas más pequeñas */
}

.form-section {
    width: 70%;
    max-width: none; /* Elimina el ancho máximo para pantallas pequeñas */
    margin-top:20px; /* Añade un margen superior para separación */
}

.left-content h1 {
    font-size: 28px; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
}
.video-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

}
}


/* Swiper - Reservas */

.swiper-container {
  display: inline-grid;
  width: 80%;
  height: 250px;
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 15px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide .card-description{
  padding:1rem 1rem;
}
.swiper-slide .card-title, .swiper-slide .card-text{
 margin-bottom: .5rem;
}
.swiper-slide .card-button{
 text-align: center;

}
.swiper-slide .card-link a{
  text-decoration: none;
  color: #1d6ce2;
}


/* Comunidad */

.cards-comunidad {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-inline: 5%;
}

.card {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 1.5rem;
  min-width: 280px;
  max-width: 100%; /* Asegura que no se salga del contenedor */
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 1.5rem); /* Cada tarjeta ocupa un tercio del ancho en pantallas grandes */
}


/* Ajustes responsivos */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 1.5rem); /* Cada tarjeta ocupa la mitad en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%; /* Cada tarjeta ocupa todo el ancho en pantallas pequeñas */
  }
}

.comunidad-h2 {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 5%;
}

.p-card {
  color: #b6b5b5;
}

.card-content {
  padding: 0;
}

.subtitle {
  font-size: 0.8rem;
  color: #b0b0b0;
  margin-bottom: 0.5rem;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.card-footer-item {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

.card-footer-item:hover {
  background-color: #0056b3;
}

/* Responsividad */
@media (max-width: 768px) {
  .cards-comunidad {
    gap: 1rem;
  }

  .card {
    min-width: 220px;
  }
}

@media (max-width: 480px) {
  .cards-comunidad {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .card {
    min-width: 180px;
  }

}

/* Preguntas y Rtas */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  border: 1px solid #40D3E2;
  border-radius: 8px;
  color: white;
}

.faq-container details {
  padding: 1rem;
  border-bottom: 1px solid #444444;
}

.faq-container summary {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.faq-container p {
  margin-top: 0.5rem;
  color: #cccccc;
}

.newsletter {
  display: flex;
  margin-top: 2rem;
  padding: 1.5rem;
  
  border-radius: 8px;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.newsletter p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.newsletter .button {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  padding:1rem;
}

.newsletter .button:hover {
  background-color: #40D3E2;
}



/* Animaciones */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}

/* Definición de la animación */
@keyframes slide-left {
  0% {
      transform: translateX(100%); /* Comienza fuera del lado derecho */
  }
  50% {
    transform: translateX(0); /* Llega al centro del banner */
  }
  100% {
      transform: translateX(-100%); /* Termina fuera del lado izquierdo */
  }
}
