
/* Variables */
:root {
  --letters-hover: #0a95dd;
  --letters: #40d3e2; 

  --backgroundGeneral: #000000;
  --shadow: #DDDDDD;

  --fuente: "Inter", sans-serif;;
  --tamañoTitulo: 3rem;
  --tamañoSubtitulo: 2rem;
  --tamaño-p1: large;
  --tamaño-p2: medium;
  --tamaño-p3: small;
}

/*Estilos globales */

body::-webkit-scrollbar {
  display: none; /* Estilo para ocultar la barra de scroll */
}

header {
  height: 80px; /* Altura del navbar */
  
}

html {
  margin: 0;
  height: 100%;
}
body {
  padding-top: 50px;
  margin: 0;
  min-height:100%;

  color: var(--letters);
}

/* Navbar */

.navbar-brand { 
  background-color: var(--backgroundGeneral);
  font-family: var(--fuente);
  font-weight: bold;
  letter-spacing: 2px;
  height: 80px;
  padding: 0 5%;
}

header {
  height: 80px;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-item{
  color: var(--letters);
}

.navbar-item img{
  max-height: 3rem;
}

a.navbar-item:hover{
  color: var(--letters-hover);
}

a.navbar-item.is-active{
  color: var(--letters);
  
}

.navbar-menu.is-active {
  display: block;
  background-color: var(--backgroundGeneral);
}


/* Index */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra todo el área */
  z-index: -1; /* Envía el video al fondo */
}
.columns{
  padding-top: 100px;
}

.titulo{
  font-size: 8rem;
  font-weight: 700;
  padding-left: 10%;
}