/* Variables */
:root {
  --letters-hover: #0a95dd;
  --letters: #40d3e2;  
  --backgroundGeneral: #000000;
  --backgroundSecundario: #f2f2f2;
  --shadow: #DDDDDD;
  --fuente: "Inter", sans-serif;
  --tamañoTitulo: 3rem;
  --tamañoSubtitulo: 2rem;
  --tamaño-p1: large;
  --tamaño-p2: medium;
  --tamaño-p3: small;
}

/* Estilos globales */

html {
  margin: 0;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none; /* Estilo para ocultar la barra de scroll */
}

body {
  font-family: var(--fuente);
  margin: 0;
  height: 100%;
  min-height: 100%;
  padding-top: 80px;
  background-color: var(--backgroundGeneral);
  color: var(--letters);
}

/* Navbar */
header {
  font-family: var(--fuente);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: var(--backgroundGeneral);
  height: 80px;
}

#navbar .navbar-brand { 
  font-family: var(--fuente);
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--letters);
}

#navbar .navbar-menu {
  display: flex;
  gap: 1rem;
  background-color: var(--backgroundGeneral);
  align-items: right;
}

#navbar .navbar-item {
  color: var(--letters);
  font-family: var(--fuente);
  text-decoration: none;
  transition: color 0.3s;
}

#navbar .navbar-item img {
  max-height: 3rem;
}

#navbar a.navbar-item:hover {
  color: var(--letters-hover);
}

#navbar a.navbar-item.is-active {
  color: var(--letters);
}

#navbar .navbar-menu.is-active {
  display: flex;
  background-color: var(--backgroundGeneral);
}

#navbar.navbar-reservas .navbar-item {
  color: var(--backgroundSecundario);
}

/* Footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--backgroundGeneral);
  padding: 10px 0;
}

.footer-container {
  height: 80px;
  padding: 10px 0;
  margin-top: 1rem;
}

.footer-text-container {
  width: 75%;
  padding-left: 12.5%;
  text-align: center;
  color: var(--letters);
}

.footer-text {
  font-size: small;
  font-weight: bold;
}

.footer-image {
  width: 100%;
  max-width: 150px;
}

.footer-image-container {
  text-align: center;
  width: 32%;
  padding: 0 5%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.custom-row-1 {
  justify-content: center;
  padding-left: 12.5%;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main */

/* Index */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra todo el área */
  z-index: -1; /* Envía el video al fondo */
}
.columns{
  padding-top: 100px;
}

.titulo{
  font-size: 5rem;
  font-weight: 700;
  padding-left: 10%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--letters);
  text-align: center;
  font-family: var(--fuente);
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.text-overlay h1 {
  font-size: var(--tamañoTitulo);
  margin-bottom: 0.5rem;
}

.text-overlay p {
  font-size: var(--tamañoSubtitulo);
}

/* Cursos */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 6%;
  padding: 20px;
  height: 60vh; /* Altura del contenedor */
  margin-top: 80px;
}

.rectangulo {
  background-color: black;
  color: var(--backgroundSecundario);
  text-align: center;
  border: 2px solid var(--backgroundSecundario);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.rectangulo:hover {
  background-color: #005bb5;
}

.course-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.course-content {
  font-size: small;
  margin-bottom: 5px;
}

.course-price {
  font-size: medium;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s;
}

.modal-content {
  background-color: var(--backgroundSecundario);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation: scaleIn 0.3s;
}

.modal-button {
  display: inline-flex;
  margin: 12px;
  padding: 12px;
  background-color: var(--backgroundGeneral);
  color: var(--letters);
  border-radius: 20px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Contacto */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
}

.left-content {
  color: #fff;
  max-width: 500px;
  padding: 20px;
  flex: 1; /* Permite que el contenido ocupe espacio flexible */
}

.left-content h1 {
  font-size: 36px;
}

.left-content h1 span,
.left-content .highlight {
  color: #00aaff;
  font-weight: bold;
}

.accreditation {
  margin-top: 20px;
}

.accreditation img {
  width: 200px;
  margin-top: 10px;
}

.form-section {
  background-color: var(--backgroundSecundario);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  color: #000;
}

.form-section h2 {
  color: #00aaff;
  font-size: 18px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label {
  font-size: 14px;
  text-align: left;
}

form input, form textarea {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input, form textarea, form button {
    transition: all .3s ease; /* Transición suave para todos los elementos de formulario */
}

form input:hover, form textarea:hover {
    border-color: #00aaff; /* Cambia el color del borde al pasar el mouse */
    box-shadow: inset 0px 0px 5px rgba(0,170,255,0.5); /* Efecto de sombra */
}

form button {
    background-color: #00aaff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0088cc; /* Cambia el color al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.banner {
  overflow: hidden; /* Oculta el contenido que sale del contenedor */
  position: relative; /* Necesario para la animación */
  background-color: #00aaff;
  text-align: center;
  height: 40px;
}

.promo {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  font-size: 20px; /* Tamaño de fuente más pequeño */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  position: absolute; /* Permite mover el texto fuera del contenedor */
  animation: slide-left 18s linear infinite; /* Añade la animación de deslizamiento */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        padding: 20px; /* Reduce el padding en pantallas más pequeñas */
    }

    .form-section {
        width: auto; /* Permite que la sección del formulario se ajuste automáticamente */
        max-width: none; /* Elimina el ancho máximo para pantallas pequeñas */
        margin-top:20px; /* Añade un margen superior para separación */
    }

    .left-content h1 {
        font-size: 28px; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
    }
}

/* Reservas */

.container-reservas {
  display: block;
  height: 94vh;
  padding: 40px;
  background-color: var(--backgroundSecundario);
  color: var(--backgroundGeneral);
}

.grid-container {
  display: grid;
  background-color: var(--backgroundSecundario);
  grid-template-areas:
    'reserva reserva reserva reserva pago pago';
  min-height: 100%;
}

.reserva {
  grid-area: reserva;
  margin-right: 40px;
}

.pago {
  grid-area: pago;
}

.border-containers {
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: #888;
}

.balance-f {
  position: fixed;
  bottom: 0;
  padding-bottom: 40px;
  width: 100%;
}

/* Animaciones */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}

/* Definición de la animación */
@keyframes slide-left {
  0% {
      transform: translateX(100%); /* Comienza fuera del lado derecho */
  }
  50% {
    transform: translateX(0); /* Llega al centro del banner */
  }
  100% {
      transform: translateX(-100%); /* Termina fuera del lado izquierdo */
  }
}
